Source: metascheduler
Priority: extra
Maintainer: Alexander Baranov <sashab1@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), python, dh-virtualenv
Standards-Version: 3.9.3

Package: metascheduler
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}
Description: Metascheduler
