{% extends "base.html" %}

{% set active_page = active_page|default('datasets') -%}

{% block title %}SkyGrid - Metascheduler{% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Metascheduler queues</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Uses timeout</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block scripts %}

<!-- DataTables JavaScript -->
<script src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {

    $.getJSON( "{{ config.METASCHEDULER_URL }}/queues", function( response ) {
        var qs_list = response['queues'];
        var list_for_datatables = Array();

        $.each(qs_list, function(index, q) {
            list_for_datatables.push(new Array(q['name'], q['length'], q['use_timeout']));
        });

        $('#dataTables-example').dataTable( {
            "data": list_for_datatables,
            "aaSorting": [[ 0, "asc" ]]
        });
    });
});
</script>

{% endblock %}