{% extends "base.html" %}

{% set active_page = active_page|default('mc-list') -%}

{% block title %}SkyGrid - MC{% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">MC generation</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div>We have <strong id="mc_total"></strong> MC's in DB.</div>
        <div style="margin-bottom: 15px">
            Show results: <input type="text" id="skip" class="skiplimit" value="0"> - <input type="text" id="limit" class="skiplimit" value="10"> <button onclick="rerender()">Show!</button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block scripts %}

<!-- DataTables JavaScript -->
<script src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>


<script type="text/javascript">
if (!String.prototype.format) {
  String.prototype.format = function() {
    var args = arguments;
    return this.replace(/{(\d+)}/g, function(match, number) {
      return typeof args[number] != 'undefined'
        ? args[number]
        : match
      ;
    });
  };
}

function rerender() {
    var skip = $('#skip').val();
    var limit = $('#limit').val();

    document.location.href = "{{ config.SELF_URL }}/mc/list?skip=" + skip + "&limit=" + limit;
}

function sum( obj ) {
  var sum = 0;
  for( var el in obj ) {
    if( obj.hasOwnProperty( el ) ) {
      sum += parseFloat( obj[el] );
    }
  }
  return sum;
}

$(document).ready(function() {
    $.getJSON( "{{ config.SKYGRID_URL }}/montecarlo", function( response ) {
        $("#mc_total").html(response['data']["mc_objects"]);
    });
   $('.skiplimit').keydown(function(event) {
        if (event.keyCode == 13) {
            rerender();
            return false;
         }
    });

    var queryDict = {};
    location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]});

    if(queryDict["skip"] != undefined) { $('#skip').val(queryDict["skip"]); }
    if(queryDict["limit"] != undefined) { $('#limit').val(queryDict["limit"]); }

    $('#skip').focus();

    var skip = $('#skip').val();
    var limit = $('#limit').val();
    $.getJSON( "{{ config.SKYGRID_URL }}/montecarlo?skip=" + skip + "&limit=" + limit, function( response ) {
        var mc_list = response['data'];
        var list_for_datatables = Array();

        $.each(mc_list, function(index, mc) {
            var status = mc['jobs'];
            status['total'] = sum(mc['jobs']);

            // alert(JSON.stringify(status));

            // alert(JSON.stringify(status));
            list_for_datatables.push(new Array(
                mc['montecarlo_id'],
                mc['descriptor']['name'],
                mc['created'],
                '', // status
                status['completed'] / status['total'] * 100,
                status['in_queue'] / status['total'] * 100,
                status['failed'] / status['total'] * 100,
                status['running'] / status['total'] * 100
            ));
        });

        $('#dataTables-example').dataTable( {
            "data": list_for_datatables,
            "aaSorting": [[ 2, "desc" ]],
            "iDisplayLength": limit,
            "aLengthMenu": [],
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return '<div class="progress">\
                                  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: ' + row[5] + '%">\
                                    <span class="sr-only">' + row[5] + '% In queue</span>\
                                  </div>\
                                  <div class="progress-bar progress-bar-info" style="width: ' + row[7] + '%">\
                                    <span class="sr-only">' + row[7] + '% Running </span>\
                                  </div>\
                                  <div class="progress-bar progress-bar-success" style="width: ' + row[4] + '%">\
                                    <span class="sr-only">' + row[4] + '% Completed </span>\
                                  </div>\
                                  <div class="progress-bar progress-bar-danger" style="width: ' + row[6] + '%">\
                                    <span class="sr-only">' + row[6] + '% Failed</span>\
                                  </div>\
                                </div>';
                    },
                    "targets": 3
                },
                { "visible": false,  "targets": [ 4, 5, 6, 7 ] }
            ]
        });
    });
});
</script>

{% endblock %}
